body,
html {
    width: 100%;
    height: 100%;
}

#calculadora {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding-bottom: 2em;
}

#div-hipotenusa {
    display: none;
}

#mensagem-cateto-adjacente {
    display: none;
    color: red;
    font-weight: 400;
}

#mensagem-cateto-oposto {
    display: none;
    color: red;
    font-weight: 400;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:disabled {
    background: #fff;
}

.oposto {
    height: 10vw;
    position: absolute;
    left: calc(50% - 5vw);
    top: 10%;
}

.adjacente {
    width: 10vw;
    position: absolute;
    left: calc(50% - 5vw);
    top: calc(10% + 10vw);
}

.hipotenusa {
    width: 14.1421vw;
    position: absolute;
    left: calc(50% - 7vw);
    top: calc(10% + 5vw);
    transform: rotate(45deg);
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

i {
    color: black;
}

.height{
    height: 30%;
}